body {
  background-color:#fff9f5;
  width: max-content;
  margin: 0;
}

.main {
  padding: 15px 20px 12px;
}

.header {
  display: flex;
  align-items: center;
}

.text {
  font-weight: bold;
  font-style: italic;
  color: #e46d21;
}

#icon {
  width: 32px;
}

#title {
  font-size: 18px;
  font-family: Georgia, serif;
  margin-left: 8px;
}

#version {
  font-size: 10px;
  font-family: sans-serif;
}

#settings {
  margin-left: 15px;
  cursor: pointer;
}

#options {
  font-family: sans-serif;
  font-size: 13px;
  color: #222;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  text-align: initial;
}

li {
  padding: 1px 0;
}

label {
  padding-left: 5px;
}
